
.j-nav-bar {
    &.van-nav-bar {
        background: #1989fa;
        color: #fff;

        .van-nav-bar__left {
            .van-icon {
                color: #fff;
            }

            .van-nav-bar__text {
                color: #fff;
            }
        }

        .van-nav-bar__title {
            color: #fff;
        }
    }
}

.j-cell {
    &.van-cell {
        align-items: center;
        padding: 5px;

        .j-cell-icon {
            margin-right: 5px;
        }

        .j-cell-title, .j-cell-value {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            text-align: justify;
            ell2();
        }
    }
}
